<meta charset="UTF-8">
<title>

{% if page_title is not empty %}
    {{ page_title | raw }}
{% else %}
    {{ title | raw }}
{% endif %}

</title>
<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

{% stylesheets
    'bundles/ihsansimpleadmin/css/bootstrap.min.css'
    'bundles/ihsansimpleadmin/css/AdminLTE.min.css'
    'bundles/ihsansimpleadmin/css/skins/skin-green.min.css'
    'bundles/ihsansimpleadmin/css/style.css'

    filter='css_compressor, cssrewrite'
%}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->