<!DOCTYPE html>
<html lang="en-us">
    <head>
        {%- include 'IhsanSimpleAdminBundle:Security:Layout/header.html.twig' with { page_title: block('page_title'), css: block('css') } -%}
    </head>
        {%- block page -%}{%- endblock-%}

    {%- block content -%}{%- endblock-%}

    {%- include 'IhsanSimpleAdminBundle:Security:Layout/footer.html.twig'
    with {
        javascript: block('javascript')
    }
    -%}
        </div>
    </body>
</html>